{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="accueil">

    <section class="nav">
        <a href="/actualites">Actualités</a>
        <a href="/brasserie">La brasserie</a>
        <a href="/bieres">Les bières</a>
        <a href="/types">Les types de bières</a>
        <a href="/ingredients">Les ingrédients</a>
    </section>

</div>

{% endblock %}

