{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="accueil">

   <section class="page-content">
       <div class="container">
           {{ page.content|raw }}
       </div>
   </section>

</div>

{% endblock %}

